/dev/node_modules/
/temp/
/.idea/
/.gitignore
/public_html/core/lexicon/
/public_html/core/model/
/public_html/core/packages/
/public_html/index.php
/public_html/core/ht.access
/public_html/ht.access
/public_html/manager/
/public_html/config.core.php
/public_html/core/import/
/public_html/core/xpdo/
/public_html/core/export/
/public_html/core/error/
/public_html/core/docs/
/public_html/core/config/
/public_html/core/cache/
/public_html/core/components/
/public_html/assets/components/
/public_html/connectors/
/public_html/manager/
